<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ean.oaemp.mapper.DepartmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ean.oaemp.model.po.DepartmentPO">
        <id column="pk_id" property="pkId"/>
        <result column="dep_name" property="depName"/>
        <result column="parent_id" property="parentId"/>
        <result column="dep_path" property="depPath"/>
        <result column="is_enabled" property="enabled"/>
        <result column="is_parent" property="isParent"/>
    </resultMap>

    <resultMap id="DepartmentWithChildren" type="cn.ean.oaemp.model.po.DepartmentPO" extends="BaseResultMap">
        <collection property="children" ofType="cn.ean.oaemp.model.po.DepartmentPO"
                    select="cn.ean.emp.mapper.DepartmentMapper.getAllDepartments" column="pk_id">
        </collection>
    </resultMap>



    <!-- 通过存储过程添加部门
     #{depName,mode=IN,jdbcType=VARCHAR}中的depName是指DepartmentPO中的depName -->
    <select id="addDep" statementType="CALLABLE">
        call addDep(#{depName,mode=IN,jdbcType=VARCHAR},
                    #{parentId,mode=IN,jdbcType=INTEGER},
                    #{enabled,mode=IN,jdbcType=BOOLEAN},
                    #{result,mode=OUT,jdbcType=INTEGER},
                    #{id,mode=OUT,jdbcType=INTEGER})
    </select>

    <!-- 通过存储过程删除部门 -->
    <select id="deleteDep" statementType="CALLABLE">
        call deleteDep(#{id,mode=IN,jdbcType=INTEGER},
                       #{result,mode=OUT,jdbcType=INTEGER})
    </select>

    <!--获取所有部门
    <select id="getAllDepartments" resultMap="DepartmentWithChildren">
        select
             <include refid="Base_Column_List"/>
        from oa_emp_department
        where parent_id = #{parentId}
    </select>-->

    <!-- 获取所有部门 -->
    <select id="getAllDepartments" resultMap="DepartmentWithChildren">
        select
             *
        from oa_emp_department
        where parent_id = #{parentId}
    </select>

</mapper>
