<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ean.oaemp.mapper.MenuMapper">


    <resultMap id="BaseResultMap" type="cn.ean.oaemp.model.po.MenuPO">
        <id column="pk_id" property="pkId"/>
        <result column="url" property="url"/>
        <result column="path" property="path"/>
        <result column="component" property="component"/>
        <result column="name" property="name"/>
        <result column="icon" property="icon"/>
        <result column="is_keep_alive" property="keepAlive"/>
        <result column="is_require_auth" property="requireAuth"/>
        <result column="parent_id" property="parentId"/>
        <result column="is_enabled" property="enabled"/>
    </resultMap>

    <resultMap id="Menus" type="cn.ean.oaemp.model.po.MenuPO" extends="BaseResultMap">
        <collection property="children" ofType="cn.ean.oaemp.model.po.MenuPO">
            <id column="pk_id2" property="pkId"/>
            <result column="url2" property="url"/>
            <result column="path2" property="path"/>
            <result column="component2" property="component"/>
            <result column="name2" property="name"/>
            <result column="icon2" property="icon"/>
            <result column="is_keep_alive2" property="keepAlive"/>
            <result column="is_require_auth2" property="requireAuth"/>
            <result column="parent_id2" property="parentId"/>
            <result column="is_enabled2" property="enabled"/>
        </collection>
    </resultMap>

    <resultMap id="MenusWithRole" type="cn.ean.oaemp.model.po.MenuPO" extends="BaseResultMap" >
        <collection property="roles" ofType="cn.ean.oaemp.model.po.RolePO">
            <id column="role_id" property="pkId"/>
            <result column="authority" property="authority"/>
            <result column="auth_desc" property="authDescription"/>
        </collection>
    </resultMap>

    <resultMap id="MenusWithChildren" type="cn.ean.oaemp.model.po.MenuPO" extends="BaseResultMap">
        <id column="id1" property="pkId"/>
        <result column="name1" property="name"/>
        <collection property="children" ofType="cn.ean.oaemp.model.po.MenuPO">
            <id column="id2" property="pkId"/>
            <result column="name2" property="name"/>
            <collection property="children" ofType="cn.ean.oaemp.model.po.MenuPO">
                <id column="id3" property="pkId"/>
                <result column="name3" property="name"/>
            </collection>
        </collection>
    </resultMap>

    <!-- 根据用户id查询菜单列表 -->
    <select id="getMenusByUserId" resultMap="Menus">
        SELECT DISTINCT
            mparent.*,
            mchildren.pk_id AS pk_id2,
            mchildren.url AS url2,
            mchildren.path AS path2,
            mchildren.component AS component2,
            mchildren.`name` AS name2,
            mchildren.icon AS icon2,
            mchildren.is_keep_alive AS is_keep_alive2,
            mchildren.is_require_auth AS is_require_auth2,
            mchildren.parent_id AS parent_id2,
            mchildren.is_enabled AS is_enabled2
        FROM oa_emp_menu mparent
            LEFT JOIN oa_emp_menu mchildren ON mparent.pk_id = mchildren.parent_id
            LEFT JOIN oa_emp_menu_role mr ON mchildren.pk_id = mr.menu_id
            LEFT JOIN oa_emp_user_role ur on mr.role_id = ur.role_id
        WHERE
            mparent.pk_id = mchildren.parent_id
            AND mchildren.pk_id = mr.menu_id
            AND mr.role_id = ur.role_id
            AND ur.user_id = #{pkId}
            AND mchildren.is_enabled = 1
        ORDER BY
            mchildren.pk_id
    </select>

    <select id="getMenusWithRole" resultMap="MenusWithRole">
        SELECT
            m.*,
            r.pk_id AS role_id,
            r.authority AS authority,
            r.auth_desc AS auth_desc
        FROM oa_emp_menu m
            LEFT JOIN oa_emp_menu_role mr ON m.pk_id = mr.menu_id
            LEFT JOIN oa_emp_role r ON mr.role_id = r.pk_id
        ORDER BY m.pk_id
    </select>

    <select id="getAllMenus" resultMap="MenusWithChildren">
        SELECT
            m1.pk_id AS id1,
            m1.`name` AS name1,
            m2.pk_id as id2,
            m2.`name` as name2,
            m3.pk_id as id3,
            m3.`name` as name3
        FROM oa_emp_menu m1
            LEFT JOIN oa_emp_menu m2 ON m1.pk_id = m2.parent_id
            LEFT JOIN oa_emp_menu m3 ON m2.pk_id = m3.parent_id
        WHERE m3.is_enabled = true
    </select>


</mapper>
